<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<form method="POST" class="post-form" action="/usr">
        {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h1>Entre com suas Informações</h1>
                <br><br>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CPF:</label>
            <div class="col-sm-4">
                {{ form.uid }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-4">
                {{ form.uname }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Data Nascimento:</label>
            <div class="col-sm-4">
                {{ form.unasc }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tipo Teste:</label>
            <div class="col-sm-4">
                {{ form.uteste }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Resultado:</label>
            <div class="col-sm-4">
                {{ form.uresultado }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>